# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging
*.egg-info/
build/
dist/

# Virtual env
venv/

# Model files
*.pkl
models/

# Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
